MobileMVC/Service References/wcfService/JTodoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JTodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52913/JTodoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52913/JTodoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Entity" />
      <xsd:import schemaLocation="http://localhost:52913/JTodoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodoService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITodoService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_Login_ServiceDataFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Entity" name="detail" element="q1:ServiceDataFault" />
  </wsdl:message>
  <wsdl:message name="ITodoService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITodoService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ITodoService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="ITodoService_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="ITodoService_AddTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="ITodoService_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="ITodoService_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITodoService_RemoveTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTask" />
  </wsdl:message>
  <wsdl:message name="ITodoService_RemoveTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodoService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/Login" message="tns:ITodoService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/LoginResponse" message="tns:ITodoService_Login_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITodoService/LoginServiceDataFaultFault" name="ServiceDataFaultFault" message="tns:ITodoService_Login_ServiceDataFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/Register" message="tns:ITodoService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/RegisterResponse" message="tns:ITodoService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/ChangePassword" message="tns:ITodoService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/ChangePasswordResponse" message="tns:ITodoService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetUserId" message="tns:ITodoService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetUserIdResponse" message="tns:ITodoService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetAllCategories" message="tns:ITodoService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetAllCategoriesResponse" message="tns:ITodoService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetAllTasks" message="tns:ITodoService_GetAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetAllTasksResponse" message="tns:ITodoService_GetAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/AddCategory" message="tns:ITodoService_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/AddCategoryResponse" message="tns:ITodoService_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/RemoveCategory" message="tns:ITodoService_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/RemoveCategoryResponse" message="tns:ITodoService_RemoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/AddTask" message="tns:ITodoService_AddTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/AddTaskResponse" message="tns:ITodoService_AddTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/UpdateTask" message="tns:ITodoService_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/UpdateTaskResponse" message="tns:ITodoService_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/GetTask" message="tns:ITodoService_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/GetTaskResponse" message="tns:ITodoService_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodoService/RemoveTask" message="tns:ITodoService_RemoveTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodoService/RemoveTaskResponse" message="tns:ITodoService_RemoveTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodoService" type="tns:ITodoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITodoService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceDataFaultFault">
        <soap:fault use="literal" name="ServiceDataFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITodoService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ITodoService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ITodoService/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/ITodoService/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://tempuri.org/ITodoService/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://tempuri.org/ITodoService/UpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <soap:operation soapAction="http://tempuri.org/ITodoService/GetTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTask">
      <soap:operation soapAction="http://tempuri.org/ITodoService/RemoveTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JTodoService">
    <wsdl:port name="BasicHttpBinding_ITodoService" binding="tns:BasicHttpBinding_ITodoService">
      <soap:address location="http://localhost:52913/JTodoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>