MobileMVC/Service References/wcfService/TodoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TodoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52913/JService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52913/JService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52913/JService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITodo_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ITodo_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ITodo_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ITodo_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ITodo_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ITodo_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ITodo_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ITodo_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITodo_AddCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategory" />
  </wsdl:message>
  <wsdl:message name="ITodo_AddCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITodo_RemoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategory" />
  </wsdl:message>
  <wsdl:message name="ITodo_RemoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ITodo">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/Login" message="tns:ITodo_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/LoginResponse" message="tns:ITodo_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/Register" message="tns:ITodo_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/RegisterResponse" message="tns:ITodo_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/ChangePassword" message="tns:ITodo_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/ChangePasswordResponse" message="tns:ITodo_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/GetAllCategories" message="tns:ITodo_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/GetAllCategoriesResponse" message="tns:ITodo_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/AddCategory" message="tns:ITodo_AddCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/AddCategoryResponse" message="tns:ITodo_AddCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITodo/RemoveCategory" message="tns:ITodo_RemoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITodo/RemoveCategoryResponse" message="tns:ITodo_RemoveCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITodo" type="tns:ITodo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ITodo/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ITodo/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ITodo/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ITodo/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategory">
      <soap:operation soapAction="http://tempuri.org/ITodo/AddCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCategory">
      <soap:operation soapAction="http://tempuri.org/ITodo/RemoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TodoService">
    <wsdl:port name="BasicHttpBinding_ITodo" binding="tns:BasicHttpBinding_ITodo">
      <soap:address location="http://localhost:52913/JService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>